p {
color: black;
  font-size: 16px;
}
ul {
list-style: square;
  
}
ol {
list-style: square;
  
}
h1 {
color: lavender;
  font-style: italic;
}
header {
color: red;
  font-size: 20px;
}
body {
color: black;
  font-size: 16px;
}
footer {
color: blue;
  font-size: 14px;
}
